
@media (max-width: 400px) {
    .CategoriePage {

        .categories {
            > a {
                margin-top: 15px;
                display: block;
    
                
               
    
                h3 {
                   padding: 10px 0;
                   
                }
                img {
                  
                    width : 100%;
                
                }
           }
       }
    }
}


